<!-- Head -->
<%- include('partials/head') %>

<!-- Header -->
<%- include('partials/header') %>

<!-- Navigation -->
<%- include('partials/nav') %>

<!-- carousel -->
<%- include('partials/carousel') %>

<main>

    <!-- About Us -->
    <section class="bg-success text-dark bg-opacity-10 py-4">
        <div class="container">
            <h2 class="display-4 text-center text-primary"><b>¿QUIENES SOMOS?</b></h2>
            <div class="row">
                <div class="col"></div>
                <div class="col align-self-center">
                    <img src="img/logo-b.png" alt="logo" style="width: 20rem;">
                </div> 
                <div class="col"></div>
            </div>
            <div class="row">                  
                <div class="col pt-4">
                    <p class="text-center fs-5 fst-italic">BUSCANDO EL EQUILIBRIO Y LA ARMONÍA EN TU CUERPO</p>
                    <P>Somos una empresa comprometida con el bienestar de tu salud mental y tu cuerpo, contamos con tecnología disponble a un costo accesible.</P>
                    <p>Nuestro objetivo principal es que tengas una experiencia de relajación intensa.</p>
                    <p>Creemos fielmente que una mente sana y un cuerpo sano es indispensable para tu bienestar, por eso te ofrecemos un servicio de calidad con el que estamos seguros que quedarás satisfecho con nuestros servicios.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Services -->
    <section  id="services">
        <div>
            <div class="pt-5 bg-primary text-dark bg-opacity-10">
                <div class="container">
                    <div class="col-12 text-center">
                        <h2 class="display-4"><b>S E R V I C I O S</b></h2>
                        <p class="text-start">Consiéntete, relájate y rejuvenece con nuestros servicios que cuentan con cabinas de masaje y salas de belleza. Nuestros tratamientos incluyen masajes, faciales, exfoliación y más.</p> 
                        <p class="text-start">Contamos con tratamientos faciales para un cutis más tonificado, sano y radiante.</p> 
                        <p class="text-start">También encontrarás Tratamientos corporales que revitalizan tu piel y desintoxica tu cuerpo.</p> 
                        <p class="text-start">Tenemos los mejores masajes que trascienden tu cuerpo y lleva tu mente a un nuevo nivel de relajación.</p> 
                        <i class="bi bi-star-fill px-1"></i> 
                        <i class="bi bi-star-fill px-1"></i>
                        <i class="bi bi-star-fill px-1"></i>
                        <i class="bi bi-star-fill px-1"></i>
                        <i class="bi bi-star-fill px-1" id="masajes"></i>  <!-- ID Masajes-->
                        
                    </div>
                </div>                
                
            </div>


            <!-- Masajes --> 

            <div class="container-fluid bg-primary text-dark bg-opacity-10 pt-5 pb-3">
                <div class="container-sm">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="display-6"><b>Masajes</b></h2>
                            <p class="text-start">Masaje es un término general para la presión, el frotamiento y la manipulación de la piel, los músculos, los tendones y los ligamentos. El masaje puede variar desde una caricia suave hasta una presión intensa.</p>
                            <p class="text-start">Más allá de los beneficios que posee para las afecciones o enfermedades específicas, algunas personas disfrutan del masaje porque a menudo produce sentimientos de cuidado, comodidad y conexión.</p>
                        </div>
                    </div> 
    
                    <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-around">
    
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/cavitacion.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-primary">Bio Masaje Reductivo Corporal de Cavitación y Lipolaser</h4>
                                    <h6 class="card-title text-secondary"><b>$400.00</b></h5>
                                    <p class="fw-lighter">Estimula la circulación sanguínea, ayuda a descontracturar los músculos y descarga la tensión que se acumula en ellos.</p>
                                </div>
                                <div class="d-grid gap-2 col-6 mx-auto align-items-end mb-3">
                                    <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#bmrccl">Más Información</button>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/masaje.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-primary">Masaje Relajante</h4>
                                    <h6 class="card-title text-secondary"><b>$300.00</b></h5>
                                    <p class="fw-lighter">Estimula la circulación sanguínea, ayuda a descontracturar los músculos y descarga la tensión que se acumula en ellos.</p>
                                </div>
                                <div class="d-grid gap-2 col-6 mx-auto align-items-end mb-3">
                                    <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#mr">Más Información</button>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/presoterapia.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-primary">Presoterapia</h4>
                                    <h6 class="card-title text-secondary"><b>$150.00</b></h5>
                                    <p class="fw-lighter">Este tratamiento estético favorece la oxigenación del cuerpo y disminuye la tensión sanguínea.</p>
                                </div>
                                <div class="d-grid gap-1 col-6 mx-auto align-items-end mb-3">
                                    <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#prstrp" id="faciales">Más Información</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            

            <!-- Faciales -->

            <div class="bg-danger text-dark bg-opacity-10">

                <div class="container-md p-3">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="display-6"><b>Faciales</b></h2>
                            <p class="text-start">El secreto de una piel sana es ser constante en su cuidado y mantener una limpieza adecuada.</p>
                            <p class="text-start">Contamos con el personal calificado para limpiar el rostro (una actividad realmente necesaria hoy en día) y eliminar no sólo la suciedad sino también las toxinas que se van acumulando con mascarillas de productos naturales para un rostro perfecto.</p>
                        </div>
                    </div>            
    
                    <div class="row row-cols-2 row-cols-md-4 g-4 justify-content-around">
    
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/radiofrecuencia-facial2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-primary">Radiofrecuencia facial 3d</h4>
                                    <h6 class="card-title text-secondary"><b>$250.00</b></h5>
                                    <!--<p class="fw-lighter">Estimula la producción de manera acelerada de nuestro colágeno interno para una mayor elasticidad de la piel.</p>-->
                                </div>
                                <button type="button" class="btn btn-outline-info btn-sm p-0 m-2" data-bs-toggle="modal" data-bs-target="#rf3d">Más Información</button>                                
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/mascara-led2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-primary">Bioterapias faciales con mascara led</h4>
                                    <h6 class="card-title text-secondary"><b>$200.00</b></h5>
                                    <!--<p class="fw-lighter">Devuelve el equilibrio de la piel, aumenta la hidratación en profundidad, revitaliza, reduce la inflamación y el enrojecimiento, anti-acné y reduce el tamaño de poros.</p>-->
                                </div>
                                <button type="button" class="btn btn-outline-info btn-sm p-0 m-2" data-bs-toggle="modal" data-bs-target="#bfml">Más Información</button>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/mascarilla.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-primary">Mascarillas de limpieza facial</h4>
                                    <h6 class="card-title text-secondary"><b>$100.00</b></h5>
                                    <!--<p class="fw-lighter">Una dermis limpia lucirá más bonita, joven y suave. Es fundamental mantener el hábito de eliminar las células muertas y la suciedad del rostro para evitar arrugas, granitos o que se vea opaca.</p>-->
                                </div>
                                <button type="button" class="btn btn-outline-info btn-sm p-0 m-2" data-bs-toggle="modal" data-bs-target="#mlf" id="depilacion">Más Información</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>


            <!-- Depilación -->

            <div class="bg-primary text-dark bg-opacity-10">
                <div class="container-md p-3">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="display-6"><b>Depilación</b></h2>
                            <p class="text-start">La depilación o extirpación del pelo es una técnica cosmética que consiste en eliminar el vello de alguna zona del cuerpo.</p>
                        </div>
                    </div> 

                    <div class="row row-cols-2 row-cols-md-4 g-4 justify-content-around">    
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/depilacion3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-primary">Depilación</h4>
                                    <h6 class="card-title text-secondary"><b>Desde $80.00</b></h5>
                                </div>    
                                <button type="button" class="btn btn-outline-info btn-sm p-0 m-2" data-bs-toggle="modal" data-bs-target="#dplcn" id="pestañas-cejas">Más Información</button>                                                                                                                                        
                            </div>
                        </div> 
                    </div>
                </div>     

            </div>

            
            <!-- Pestañas y Cejas -->


            <div class="bg-secondary text-dark bg-opacity-10 pb-5">
                <div class="container-md p-3">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="display-6"><b>Pestañas y Cejas</b></h2>
                            <p class="text-start">Contamos con técnicas de sombreado semipermanente de cejas, que rellena espacios con pigmentos aptos a nivel epidérmico, ideal para cejas poco pobladas.</p>
                            <p class="text-start">Tambien ponemos a tu disposición un metodo cuyo objetivo es corregir o reconstruir completamente una ceja carente de pelo o ausente, realizando pelos de forma artística, creando un efecto hiperrealista y natural.​</p>
                            <p class="text-start">Además, estamos capacitados para aplicar extensiones de pestañas para que lucir unos ojos hermosos.</p>
                        </div>
                    </div>
        
                    <div class="row row-cols-2 row-cols-md-5 g-4 justify-content-around">
        
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/pestaña-clasica.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-primary">Pestañas clásicas</h4>
                                    <h6 class="card-title text-secondary"><b>$200.00</b></h5>
                                    <!--<p class="fw-lighter">La técnica de extensiones de pestañas clásicas consiste en aplicar una sola extensión de pestaña a una pestaña natural.</p>-->
                                </div>
                                <button type="button" class="btn btn-outline-info btn-sm p-0 m-2" data-bs-toggle="modal" data-bs-target="#pc">Más Información</button>
                            </div>
                        </div>
        
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/pestaña-hibrida.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-primary">Pestañas hibridas</h4>
                                    <h6 class="card-title text-secondary"><b>$300.00</b></h5>
                                    <!--<p class="fw-lighter">Las pestañas híbridas son una combinación de dos técnicas: pestañas con volumen ( SVS o rusas ) y extensiones de pestañas individuales clásicas.</p>-->
                                </div>
                                <button type="button" class="btn btn-outline-info btn-sm p-0 m-2" data-bs-toggle="modal" data-bs-target="#ph">Más Información</button>
                            </div>
                        </div>
        
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/microshading3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-primary">Microshading</h4>
                                    <h6 class="card-title text-secondary"><b>$1,500.00</b></h5>
                                    <!--<p class="fw-lighter">Este método consiste en 'sombrear' las cejas, dándoles un aspecto de ceja maquillada, se utiliza para lograr un efecto sombreado y más intenso.</p>-->
                                </div>
                                <button type="button" class="btn btn-outline-info btn-sm p-0 m-2" data-bs-toggle="modal" data-bs-target="#mcrsdng">Más Información</button>
                            </div>
                        </div>
        
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/microblading.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-primary">Microblading</h4>
                                    <h6 class="card-title text-secondary"><b>$2,000.00</b></h5>
                                    <!--<p class="fw-lighter">Es una técnica de maquillaje para cejas que se realiza utilizando una especie de navaja con la cual se realizan pequeños cortes en la piel en formas de líneas como si fueran vellos. Estos cortes son muy superficiales en la capa de la epidermis de la piel.</p>-->
                                </div>
                                <button type="button" class="btn btn-outline-info btn-sm p-0 m-2" data-bs-toggle="modal" data-bs-target="#mcrbldng">Más Información</button>
                            </div>
                        </div>
        
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/microshading-microblading.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-primary">Cejas hibridas</h4>
                                    <h6 class="card-title text-secondary"><b>$2,500.00</b></h5>
                                    <!--<p class="fw-lighter">Es el uso en combinación de la técnica microshading y microblading para obtener un resultado de cejas naturales con un color más intenso.</p>-->
                                </div>
                                <button type="button" class="btn btn-outline-info btn-sm p-0 m-2" data-bs-toggle="modal" data-bs-target="#hbrds">Más Información</button>
                            </div>
                        </div>
        
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>

</main>


<!-- Modales -->
 <!-- Modals Masajes-->
 <div class="modal fade" id="bmrccl" tabindex="-1" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title">Bio Masaje Reductivo Corporal de Cavitación y Lipolaser</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <p>Su principal ventaja es que ofrece la posibilidad de conseguir los mismos resultados que una
                     liposucción, pero sin la necesidad de una intervención quirúrgica, por eso cada vez más personas
                     prefieren la cavitación como alternativa indolora, sin anestesia y muy efectiva, y sin dejar ningún
                     tipo de señal o cicatriz en la piel.</p>
                 <p>Los ultrasonidos de la cavitación generan pequeñas burbujas en las células de grasa que implosionan,
                     provocando la rotura de estas células que se convierten en líquido. este líquido es expulsado
                     mediante la orina y el sistema linfático. </p>
                 <p>BENEFICIOS: </p>
                 <ul>
                     <li>Mejora la circulación sanguínea.</li>
                     <li>Elimina toxinas y líquidos cuando se combina con el drenaje linfático.</li>
                     <li>Aumenta el tono y la elasticidad de los tejidos, es decir, tonifica los músculos.</li>
                     <li>Ayuda a regular el tránsito intestinal.</li>
                     <li>Elimina celulitis y la piel de naranja.</li>
                     <li>Mejora la elasticidad y el aspecto de la piel.</li>
                     <li>Activa la producción de colágeno.</li>
                 </ul>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                 <button type="button" class="btn btn-primary">Agendar Cita</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="mr" tabindex="-1" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title">Masaje Relajante</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <p>Estimula la circulación sanguínea, ayuda a descontracturar los músculos y descarga la tensión que se
                     acumula en ellos. </p>
                 <p>Este beneficio permite aliviar el dolor que se localiza en la espalda y en la cabeza por causa
                     tensional, además de combatir la rigidez corporal.</p>
                 <p>Por apertura y tiempo limitado incluimos radiofrecuencia y vacum los cuales acelerarán la perdida de
                     grasa en la parte del abdomen.</p>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                 <button type="button" class="btn btn-primary">Agendar Cita</button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="prstrp" tabindex="-1" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title">Presoterapia</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <p>Este tratamiento estético favorece la oxigenación del cuerpo y disminuye la tensión sanguínea, a la
                     vez que nutre las células del organismo, estimula la eliminación de toxinas de forma natural y
                     proporciona una agradable sensación de bienestar.</p>
                 <p>Por apertura, incluimos un masaje para pies cansados y masaje para la disminución de celulitis y
                     varices.</p>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                 <button type="button" class="btn btn-primary">Agendar Cita</button>
             </div>
         </div>
     </div>
 </div>

 
<!-- Modals Faciales-->
<div class="modal fade" id="rf3d" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Radiofrecuencia facial 3d</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Estimula la producción de manera acelerada de nuestro colágeno interno para una mayor
                        elasticidad de la piel.</li>
                    <li>Elimina las arrugas, devolviéndole al rostro la juventud perdida.</li>
                    <li>Activa la circulación y devuelve toda la luminosidad a la piel.</li>
                    <li>Anti-acné.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Agendar Cita</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bfml" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bioterapias faciales con mascara led</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Devuelve el equilibrio de la piel.</li>
                    <li>Aumenta la hidratación en profundidad.</li>
                    <li>Revitaliza.</li>
                    <li>Reduce la inflamación y el enrojecimiento.</li>
                    <li>Anti-acné.</li>
                    <li>Reduce el tamaño de poros.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Agendar Cita</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mlf" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mascarillas de limpieza facial</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Una dermis limpia lucirá más bonita, joven y suave. Es fundamental mantener el hábito de eliminar las
                    células muertas y la suciedad del rostro para evitar arrugas, granitos o que se vea opaca.</p>
                <p>Con nuestras mascarillas usted obtendrá los siguientes beneficios:</p>
                <ul>
                    <li>Regular la secreción de grasa de la cara.</li>
                    <li>Prevenir la obstrucción de los poros y, como consecuencia, la aparición de puntos negros y
                        granitos.</li>
                    <li>Eliminar las células muertas.</li>
                    <li>Combatir los radicales libres que aceleran el envejecimiento.</li>
                    <li>Permitir una mayor penetración de la cremas y mascarillas.</li>
                    <li>Evitar infecciones por bacterias.</li>
                    <li>Lucir más joven y radiante.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Agendar Cita</button>
            </div>
        </div>
    </div>
</div>


<!-- Modals Depilación-->
<div class="modal fade" id="dplcn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Depilación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>AXILA</li>
                    <li>CARA</li>
                    <li>PIERNAS</li>
                </ul>
                <p>Los precios pueden variar de acuerdo al servicio que requiera el cliente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Agendar Cita</button>
            </div>
        </div>
    </div>
</div>


<!-- Modals Cejas y Pestañas-->
<div class="modal fade" id="pc" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pestañas Clásicas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>La técnica de extensiones de pestañas clásicas consiste en aplicar una sola extensión de pestaña a
                    una pestaña natural.</p>
                <p>Es muy importante saber que cuando te aplicas extensiones de pestañas con la técnica clásica, sólo se
                    aplican tantas extensiones como pestañas naturales saludables tengas.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Agendar Cita</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ph" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pestañas Hibridas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Las pestañas híbridas son una combinación de dos técnicas: pestañas con volumen ( SVS o rusas ) y
                    extensiones de pestañas individuales clásicas.</p>
                <p>Las pestañas híbridas dan volumen y longitud; como resultado obtendrás una apariencia pestañas
                    largas, abundantes, texturizadas y por lo tanto naturales.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Agendar Cita</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mcrsdng" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Microshading</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Este método consiste en 'sombrear' las cejas, dándoles un aspecto de ceja maquillada, se utiliza para
                    lograr un efecto sombreado y más intenso.</p>
                <p>Esta técnica tiene una duración de 12 a 24 meses, el retoque será de 6 a 18 meses por lo que es una
                    técnica más duradera. El color depende de la pigmentación de tu piel.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Agendar Cita</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mcrbldng" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Microblading</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Es una técnica de maquillaje para cejas que se realiza utilizando una especie de navaja con la cual
                    se realizaran pequeños cortes en tu piel en formas de líneas como si fueran vellos. Estos cortes son
                    muy superficiales en la capa de la epidermis de la piel.</p>
                <p>Esta técnica tiene menor duración pues la cantidad de pigmento que se aplica es muy poca por tal
                    motivo tiende a ser absorbido más rápido. En promedio dura de 6 a 12 meses y el retoque puede
                    realizarse a los 6 meses o el año.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Agendar Cita</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hbrds" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cejas Hibridas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Es el uso en combinación de la técnica microshading y microblading para obtener un resultado de cejas
                    naturales con un color más intenso.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Agendar Cita</button>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<%- include('partials/footer') %>
