<!-- Head -->
<%- include('partials/head') %>

<!-- Header -->
<%- include('partials/header') %>

<!-- Navigation -->
<%- include('partials/nav') %>

<!-- carousel -->
<%- include('partials/carousel') %>

<main>

    <!-- About Us -->
    <section class="bg-success text-dark bg-opacity-10 py-5" id="about">
        <div class="container">
            <h2 class="display-4 text-center text-primary"><b>¿QUIENES SOMOS?</b></h2>
            <div class="row">
                <div class="col"></div>
                <div class="col align-self-center">
                    <img src="img/logo-b.png" alt="logo" style="width: 20rem;">
                </div> 
                <div class="col"></div>
            </div>
            <div class="row">                  
                <div class="col">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae voluptates molestiae maxime iste culpa sint, sequi rerum dolorum ullam laboriosam corrupti odit, eius eveniet velit nihil tempore quaerat non repellat.
                    Maxime doloribus aliquid, labore ipsa velit ratione officia commodi, delectus est, eveniet quisquam consequuntur aperiam! Exercitationem, doloremque. Eligendi cumque, aliquam, blanditiis amet fuga obcaecati perferendis debitis repellendus nesciunt veritatis facere.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas repellendus minus fuga. Ipsa, aut voluptates! Cupiditate mollitia temporibus maiores aut, obcaecati deserunt placeat vel provident. Earum recusandae dicta perferendis temporibus.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Services -->
    <section  id="services">
        <div>
            <div class="pt-5 bg-primary text-dark bg-opacity-10">
                <div class="container">
                    <div class="col-12 text-center">
                        <h2 class="display-4"><b>S E R V I C I O S</b></h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam accusamus, animi reprehenderit architecto ipsum, ex accusantium exercitationem iusto unde laudantium minus dicta doloribus facilis saepe error molestiae eos enim at.</p>
                        <i class="bi bi-star-fill px-1"></i>
                        <i class="bi bi-star-fill px-1"></i>
                        <i class="bi bi-star-fill px-1"></i>
                        <i class="bi bi-star-fill px-1"></i>
                        <i class="bi bi-star-fill px-1"></i>
                    </div>
                </div>
                
            </div>


            <!-- Masajes --> 

            <div class="container-fluid bg-primary text-dark bg-opacity-10 pt-5 pb-3">
                <div class="container-md">
                    <div class="row" id="masajes">
                        <div class="col-12 text-center">
                            <h2 class="display-6"><b>Masajes</b></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam accusamus, animi reprehenderit architecto ipsum, ex accusantium exercitationem iusto unde laudantium minus dicta doloribus facilis saepe error molestiae eos enim at.</p>
                        </div>
                    </div> 
    
                    <div class="row row-cols-2 row-cols-md-4 g-4">
    
                        <div class="col ">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/cavitacion.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-primary">Bio Masaje Reductivo Corporal de Cavitación y Lipolaser</h4>
                                    <h6 class="card-title text-secondary"><b>$400.00</b></h5>
                                    <p>Estimula la circulación sanguínea, ayuda a descontracturar los músculos y descarga la tensión que se acumula en ellos.</p>
                                    <button type="button" class="btn btn-outline-info">Más Información</button>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/masaje.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-primary">Masaje Relajante</h4>
                                    <h6 class="card-title text-secondary"><b>$300.00</b></h5>
                                    <p>Estimula la circulación sanguínea, ayuda a descontracturar los músculos y descarga la tensión que se acumula en ellos.</p>
                                    <button type="button" class="btn btn-outline-info">Más Información</button>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/presoterapia.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-primary">Presoterapia</h4>
                                    <h6 class="card-title text-secondary"><b>$150.00</b></h5>
                                    <p>Este tratamiento estético favorece la oxigenación del cuerpo y disminuye la tensión sanguínea.</p>
                                    <button type="button" class="btn btn-outline-info">Más Información</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            


            <!-- Faciales -->

            <div class="bg-danger text-dark bg-opacity-10">

                <div class="container-md p-3">
                    <div class="row" id="faciales">
                        <div class="col-12 text-center">
                            <h2 class="display-6"><b>Faciales</b></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam accusamus, animi reprehenderit architecto ipsum, ex accusantium exercitationem iusto unde laudantium minus dicta doloribus facilis saepe error molestiae eos enim at.</p>
                        </div>
                    </div>            
    
                    <div class="row row-cols-2 row-cols-md-4 g-4">
    
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/radiofrecuencia-facial2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-title text-primary">Radiofrecuencia facial 3d</h4>
                                    <h5 class="card-title text-secondary"><b>$250.00</b></h5>
                                    <p class="fs-5">Estimula la producción de manera acelerada de nuestro colágeno interno para una mayor elasticidad de la piel.</p>
                                    <button type="button" class="btn btn-outline-info">Más Información</button>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/mascara-led2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-title text-primary">Bioterapias faciales con mascara led</h4>
                                    <h5 class="card-title text-secondary"><b>$200.00</b></h5>
                                    <p class="fs-5">Devuelve el equilibrio de la piel, aumenta la hidratación en profundidad, revitaliza, reduce la inflamación y el enrojecimiento, anti-acné y reduce el tamaño de poros.</p>
                                    <button type="button" class="btn btn-outline-info">Más Información</button>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/mascarilla.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-title text-primary">Mascarillas de limpieza facial</h4>
                                    <h5 class="card-title text-secondary"><b>$100.00</b></h5>
                                    <p class="fs-5">Una dermis limpia lucirá más bonita, joven y suave. Es fundamental mantener el hábito de eliminar las células muertas y la suciedad del rostro para evitar arrugas, granitos o que se vea opaca.</p>
                                    <button type="button" class="btn btn-outline-info">Más Información</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>


            <!-- Depilación -->

            <div class="bg-primary text-dark bg-opacity-10">
                <div class="container-md p-3">
                    <div class="row" id="depilacion">
                        <div class="col-12 text-center">
                            <h2 class="display-6"><b>Depilación</b></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam accusamus, animi reprehenderit architecto ipsum, ex accusantium exercitationem iusto unde laudantium minus dicta doloribus facilis saepe error molestiae eos enim at.</p>
                        </div>
                    </div> 

                    <div class="row row-cols-2 row-cols-md-4 g-4">    
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/depilacion3.jpg" class="card-img-top" alt="..." height="200px">
                                <div class="card-body">
                                    <h4 class="card-title text-primary">Depilación</h4>
                                    <h5 class="card-title text-secondary"><b>Desde $80.00</b></h5>
                                    <p class="fs-5">
                                        <ul>
                                            <li>Cara</li>
                                            <li>Axilas</li>                                    
                                            <li>Piernas</li>
                                        </ul>
                                        (Los precios pueden variar de acuerdo al servicio que requiera el cliente
                                    </p>
                                    <button type="button" class="btn btn-outline-info">Más Información</button>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>     

            </div>

            

            <!-- Pestañas y Cejas -->


            <div class="bg-secondary text-dark bg-opacity-10">
                <div class="container-md p-3">
                    <div class="row" id="pestañas-cejas">
                        <div class="col-12 text-center">
                            <h2 class="display-6"><b>Pestañas y Cejas</b></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam accusamus, animi reprehenderit architecto ipsum, ex accusantium exercitationem iusto unde laudantium minus dicta doloribus facilis saepe error molestiae eos enim at.</p>
                        </div>
                    </div>
        
                    <div class="row row-cols-2 row-cols-md-4 g-4">
        
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/pestaña-clasica.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-title text-primary">Pestañas clásicas</h4>
                                    <h5 class="card-title text-secondary"><b>$200.00</b></h5>
                                    <p class="fs-5">La técnica de extensiones de pestañas clásicas consiste en aplicar una sola extensión de pestaña a una pestaña natural.</p>
                                    <button type="button" class="btn btn-outline-info">Más Información</button>
                                </div>
                            </div>
                        </div>
        
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/pestaña-hibrida.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-title text-primary">Pestañas hibridas</h4>
                                    <h5 class="card-title text-secondary"><b>$300.00</b></h5>
                                    <p class="fs-5">Las pestañas híbridas son una combinación de dos técnicas: pestañas con volumen ( SVS o rusas ) y extensiones de pestañas individuales clásicas.</p>
                                    <button type="button" class="btn btn-outline-info">Más Información</button>
                                </div>
                            </div>
                        </div>
        
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/microshading3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-title text-primary">Microshading</h4>
                                    <h5 class="card-title text-secondary"><b>$1,500.00</b></h5>
                                    <p class="fs-5">Este método consiste en 'sombrear' las cejas, dándoles un aspecto de ceja maquillada, se utiliza para lograr un efecto sombreado y más intenso.</p>
                                    <button type="button" class="btn btn-outline-info">Más Información</button>
                                </div>
                            </div>
                        </div>
        
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/microblading.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-title text-primary">Microblading</h4>
                                    <h5 class="card-title text-secondary"><b>$2,000.00</b></h5>
                                    <p class="fs-5">Es una técnica de maquillaje para cejas que se realiza utilizando una especie de navaja con la cual se realizan pequeños cortes en la piel en formas de líneas como si fueran vellos. Estos cortes son muy superficiales en la capa de la epidermis de la piel.</p>
                                    <button type="button" class="btn btn-outline-info">Más Información</button>
                                </div>
                            </div>
                        </div>
        
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img src="img/cards/microshading-microblading.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-title text-primary">Cejas hibridas</h4>
                                    <h5 class="card-title text-secondary"><b>$2,500.00</b></h5>
                                    <p class="fs-5">Es el uso en combinación de la técnica microshading y microblading para obtener un resultado de cejas naturales con un color más intenso.</p>
                                    <button type="button" class="btn btn-outline-info">Más Información</button>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
                
            </div>

            


        </div>
    </section>



</main>

<!-- Footer -->
<%- include('partials/footer') %>